
.album-header {
  display: flex;
  justify-content: space-around;
  padding: 35px 0;
  background-color: rgb(197, 25, 25);
}

.album-container {
  background-color: rgb(196, 152, 33);
  padding: 30px 0;
}

.artistInfo {
  display: flex;
  align-items: end;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

li div {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
