.pocetok{
    display: flex;
    flex-direction: row;
    gap: 3px;
}
button{
    background-color: skyblue;
    color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 7px;
}
#taskInput{
    padding: 10px;
    border-radius: 7px;
}
.task {
    text-decoration: none;
    cursor: pointer;
}
  
.task.done {
    text-decoration: line-through;
}