.homework-pt-1 div {
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 2rem;
  color: gray;
}

table {
  width: 30rem;
}

.homework-pt-2 {
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.forTable {
  width: 30rem;
}
